<mat-nav-list>
	<div *ngIf="!apiService.loggedIn()">
	  <a mat-list-item routerLink="/front" (click)="onSidenavClose()">
		  <span class="nav-caption">Home</span>
	  </a>
	</div>
	<div *ngIf="apiService.loggedIn()">
	  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
		  <span class="nav-caption">Home</span>
	  </a>
	</div>
	<div *ngIf="!apiService.loggedIn()">
	  <a mat-list-item routerLink="/register" (click)="onSidenavClose()">
		  <span class="nav-caption">Register</span>
	  </a>
	</div>
	<div *ngIf="!apiService.loggedIn()">
    <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
		  <span class="nav-caption">Login</span>
	  </a>
	</div>
	<div *ngIf="apiService.loggedIn()">
    <a mat-list-item routerLink="/profile" (click)="onSidenavClose()">
		  <span class="nav-caption">User Profile</span>
	  </a>
	</div>
  <div *ngIf="apiService.loggedIn()">
    <a mat-list-item (click)="onLogoutClick()" href="">
		  <span class="nav-caption">Logout</span>
	  </a>
	</div>
</mat-nav-list>