<section class = "mat-typography">

    <h2>Select Game Date</h2>
    <form (submit)="onSearchSubmit()" class="example-form">  

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="gameDatePicker" placeholder="Game Date" [(ngModel)]="gameDate" name="gameDate">
        <mat-datepicker-toggle matSuffix [for]="gameDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #gameDatePicker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button type="submit">Search</button>

    </form>  
</section>