






<section class = "mat-typography">

    
    <form (submit)="onSearchSubmit()" class="example-form">  
      <h2>Select Game Date</h2>

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="gameDatePicker" placeholder="Game Date" [(ngModel)]="gameDate" name="gameDate">
        <mat-datepicker-toggle matSuffix [for]="gameDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #gameDatePicker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button type="submit">Search</button>
      
      <br><br>
      <div *ngIf="errorMessage">
        <h4 class="red-font">{{errorMessage}}</h4>
      </div>

    </form>  
</section>

<hr>

<div *ngIf="showChart" class="chartStyle">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [plugins]="barChartPlugins">
    </canvas>
  </div>

  <hr>
</div>
