<div class = "align-form">
  <section class = "mat-typography">

    <form (submit)="onLoginSubmit()" class="example-form">  
      <h2>Login</h2>
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Email address" [(ngModel)]="email" name="email">  
      </mat-form-field>   
      <mat-form-field class="example-full-width">  
        <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password">  
      </mat-form-field>  
      <button mat-raised-button type="submit">Submit</button>
      <br><br>
      <div *ngIf="errorMessage">
        <h4 class="red-font">{{errorMessage}}</h4>
      </div>
      <div *ngIf="validateMessage">
        <h4 class="blue-font">{{validateMessage}}</h4>
      </div>
    </form>  

  </section>
</div>
