<div class = "align-form">
  <section class = "mat-typography">

    <form (submit)="onRegisterSubmit()" class="example-form">  
      <h2>Register</h2>
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="First name" [(ngModel)]="firstname" name="firstname">  
      </mat-form-field> 
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Last name" [(ngModel)]="lastname" name="lastname">  
      </mat-form-field> 
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Username" [(ngModel)]="username" name="username">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Email address" [(ngModel)]="email" name="email">  
      </mat-form-field> 
      <mat-form-field class="example-full-width">  
        <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password">  
      </mat-form-field>  
 
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Phone number" [(ngModel)]="phonenumber" name="phonenumber">  
      </mat-form-field>  
      <button mat-raised-button type="submit">Submit</button>
      <br><br>
      <p>All fields required.</p>
      <p>Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number and one special character.
      </p>
      <br>
      <div *ngIf="errorMessage">
        <h4 class="red-font">{{errorMessage}}</h4>
      </div>
      <div *ngIf="validateMessage">
        <h4 class="blue-font">{{validateMessage}}</h4>
      </div>
    </form>  

  </section>
</div>