<mat-toolbar color="warn">
	<div fxHide.gt-xs>
		<button mat-icon-button (click)="onToggleSidenav()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<div *ngIf="!apiService.loggedIn()">
	<a routerLink="/front" class="logostyle"> 
		<img src="assets/images/favicon.png">HEAT CHECK
	</a>
  </div>
	<div *ngIf="apiService.loggedIn()">
	<a routerLink="/home" class="logostyle"> 
		<img src="assets/images/favicon.png">HEAT CHECK
	</a>
	</div>
	<div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
		<ul fxLayout fxLayoutGap="15px" class="navigation-items">
			<li *ngIf="!apiService.loggedIn()">
				<a routerLink="/register">Register</a>
			</li>
			<li *ngIf="!apiService.loggedIn()">
				<a routerLink="/login">Login</a>
			</li>
			<li *ngIf="apiService.loggedIn()">
				<a routerLink="/profile">User Profile</a>
			</li>
			<li *ngIf="apiService.loggedIn()">
				<a (click)="onLogoutClick()" href="">Logout</a>
			</li>
		</ul>
	</div>
</mat-toolbar>